<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898418783424-g3s1g4h757io2n1q2pq7kuicr4qb3v5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898418783424-g3s1g4h757io2n1q2pq7kuicr4qb3v5u</string>
	<key>API_KEY</key>
	<string>AIzaSyD3PVC1pFVFYZ-JsDxGRhJfppvBJ7dhsk8</string>
	<key>GCM_SENDER_ID</key>
	<string>898418783424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carLoanProject</string>
	<key>PROJECT_ID</key>
	<string>carloan-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>carloan-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898418783424:ios:24dde44988f1294939a925</string>
</dict>
</plist>